@font-face {
  font-family: "DogicaPixel";
  src: url("../src/fonts/dogicapixel.ttf") format("truetype");
}
@font-face {
  font-family: "DogicaPixelBold";
  src: url("../src/fonts/dogicapixelbold.ttf") format("truetype");
}

@import "tailwindcss";

* {
  box-sizing: border-box;
}

html { scroll-behavior: smooth;}

body {
  background-color: var(--color-custom-black);
  background-repeat: repeat;
  /* background-blend-mode:exclusion; */
  /* background-blend-mode: screen; */
  background-size: 500px 500px;
  font-family: var(--font-DogicaPixel);
  overflow: hidden;
}


@theme {
  --font-DogicaPixel: "DogicaPixel", sans-serif;
  --font-DogicaPixelBold: "DogicaPixelBold", sans-serif;
  --breakpoint-xs: 20rem;
  --color-Primary: #9D9D9D;          /* Heavy, low-saturation dark slate */
  --color-Secondary: #fafafa;        /* Off-white cloth texture tone */
  --color-Secondary-Dark: #bdae99;   /* Darker aged paper shadow */
  --color-Tertiary: #9e3838;         /* Dull vintage book-spine red */
  --color-Tertiary-Dark: #6e2424;    /* Dried rosebud shadow */
  --color-Quaternary: #DDDDDD;       /* Soft concrete tint */
  --color-custom-green: #627a57;     /* Muted camouflage green */
  --color-custom-black: #0F0E0E;
  --color-custom-gray: #686D76;

  --animate-idle: idle 1s step-end infinite ;
  @keyframes idle {
    0% {
      transform: translateY(-2px);
    }
    50% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-2px);
    }
  }

  --animate-popUp: popUp 0.5s ease-in-out;
  @keyframes popUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    80% {
      opacity: 1;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

}


/* Mobile */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Desktop */
@media screen and (min-width: 50rem) {
  ::-webkit-scrollbar {
    width: 14px;
    height: 14px;
  }
}

@media screen and (orientation: landscape) and (max-height: 50rem) and (max-width: 64rem) {
  .hiddenLandscapePhone {
    display: none;
  }
}

/* Track */

.scrollbar-palette::-webkit-scrollbar-track {
  padding-left: calc(var(--spacing) * 2);
  border: 2px solid var(--color-custom-black);
}

.scrollbar-palette::-webkit-scrollbar-thumb {
  border: 2px solid var(--color-custom-black);
}

/* .scrollbar-contents::-webkit-scrollbar-track {
  border: 0px
} */
::-webkit-scrollbar-track {
  background: var(--color-Secondary);
  border-left: 2px solid var(--color-custom-black);
}

/* Thumb */
::-webkit-scrollbar-thumb {
  box-shadow: inset 1px 2px 0 #ffffff70, inset -2px -3px 0 #00000045;
  background: var(--color-Tertiary);
  border-left: 2px solid var(--color-custom-black);
  border-top: 2px solid var(--color-custom-black);
  border-bottom: 2px solid var(--color-custom-black);
  transition: all 0.15s ease;
  cursor: pointer;
}
/* Click */
::-webkit-scrollbar-thumb:active {
  background: var(--color-Tertiary-Dark);
}

.shadowCorner{
  box-shadow: inset 3px 3px 0 #ffffff70, inset -4px -4px 0 #00000045;
}